@import './../../../variables.scss';

.header{
    background-color: $primary-color;
    display: inline-flex;
    height: 80px;
    width: 100%;
}

.app-name{
    margin-top:25px;
    color: $text-color-primary-background;
}