@import './../../../variables.scss';

.footer {
    background-color: $primary-color;
    height: 50px;
    text-align: center;
    color: $text-color-primary-background;
    display: flex;
    justify-content: center;
}